<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.mapper.CommentMapper">
    <resultMap id="orderMap" type="com.jd.entity.Comment">
        <result property="id" column="id"/>
        <result property="content" column="Content"/>
        <result property="zan" column="Zan"/>
        <result property="time" column="Time"/>
        <result property="pid" column="parent_id"/>
        <result property="users" column="users"/>
        <association property="user" >
            <result column="Login_Name" property="loginName" javaType="String"></result>
            <result column="img" property="img" javaType="String"></result>
        </association>
    </resultMap>
    <select id="getByPIdComment" resultMap="orderMap">
        select o.Id, o.Time, o.Zan, o.Content,o.parent_id,o.users, u.Login_Name,  u.Img
        from comment as o
        left join user as u on o.User_Id = u.id
        WHERE o.tree_id=#{pId}
 </select>

</mapper>

