<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.mapper.TeacherMapper">
    <select id="selectTeacherByName" resultType="com.jd.entity.Teacher">
        SELECT t.Id,t.T_Name,t.phone,t.status,t.role_id FROM teacher t
        WHERE 1=1
        <if test="name != null">
        AND t.T_Name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
</mapper>